# Bybit API (TESTNET PRIMA, LIVE DOPO)
BYBIT_API_KEY=
BYBIT_API_SECRET=
BYBIT_TESTNET=true

# Server
FLASK_PORT=5000
FLASK_HOST=0.0.0.0

# Telegram Alerts
TG_BOT_TOKEN=8933669800:AAG-kfsZezv
TG_CHAT_ID=947710688
